@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Baloo 2', cursive;
    font-size: 18px;
    line-height: 30px;
    background-color: #282828;
    color: #cfcfcf;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    padding: 0 10rem;
    margin: 0 auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    font-size: 14px;
}

section {
    margin-top: 5rem;
    padding: 0 10rem;
}

section > h3 {
    font-size: 1.5rem;
}

section p {
    margin-top: 1rem;
}

a {
    text-decoration: none;
    color: #639559;
    position: relative;
}

a::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0.5px;
    bottom: 2px;
    left: 0;
    background-color: #639559;
    transition: .2s;
    transform-origin: bottom right;
}

a:hover::after {
    width: 100%;
    transform-origin: bottom left;
}


.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    line-height: 0.8;
    font-weight: 700;
    background-image: linear-gradient(125deg,#639559,#205caa);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero__title {
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 1rem;

        
}

.hero__subtitle {
    font-size: 2rem;
}

.main-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: sticky;
    top: 10rem;
    width: fit-content;
}

.main-nav::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 300px;
    left: -15px;
    background-color: #205caa;
}

.scroll-top-button {
    display: none;
    position: sticky;
    top: 85%;
    width: fit-content;
    align-self: flex-end;
}

.social-media-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10rem;
    right: 10rem;
    transform: translate(-50%);
}

.scroll-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 8rem;
}

.card {
    display: flex;
    margin-top: 2rem;
}

.card__image {
    height: 260px;
    width: 200px;
    border: 1px solid black;
}

.card__content {
    margin-left: 1rem;
}

@media screen and (max-width: 1000px) {
    main {
        padding: 0 1rem;
    }

    section {
        padding: 0 1rem;
    }

    .hero__title {
        font-size: 2.5rem;
    }

    .hero__subtitle {
        font-size: 1.5rem;
    }

    .main-nav {
        display: none;
    }

    .scroll-top-button {
        display: none;
    }

    .social-media-links {
        display: none;
    }

    .card {
        flex-direction: column;
    }

    .card__content {
        margin-top: 1rem;
        margin-left: 0;
    }

    .card__image {
        width: 100%;
    }
}